<!DOCTYPE html>
<html>
<head>
    <title>Submit</title>
</head>
<body>
<h3>Submit Data</h3>
<form action="/submit" method="post">
    <label for="age">Age:</label>
    <input type="number" step="any" id="age" name="age"><br>
    <label for="gender">Gender:</label>
    <input type="number" step="any" id="gender" name="gender"><br>
    <label for="height">Height:</label>
    <input type="number" step="any" id="height" name="height"><br>
    <label for="weight">Weight:</label>
    <input type="number" step="any" id="weight" name="weight"><br>
    <label for="ap_hi">Ap_hi:</label>
    <input type="number" step="any" id="ap_hi" name="ap_hi"><br>
    <label for="ap_lo">AP_lo:</label>
    <input type="number" step="any" id="ap_lo" name="ap_lo"><br>
    <label for="cholestrol">Cholestrol:</label>
    <input type="number" step="any" id="cholestrol" name="cholestrol"><br>
    <label for="glucose">Glucose:</label>
    <input type="number" step="any" id="glucose" name="glucose"><br>
    <label for="smoke">Smoke:</label>
    <input type="number" step="any" id="smoke" name="smoke"><br>
    <label for="alcohol">Alcohol:</label>
    <input type="number" step="any" id="alcohol" name="alcohol"><br>
    <label for="active">Active:</label>
    <input type="number" step="any" id="active" name="active"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>